html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: BebasNeueBold;
    src: url('BebasNeue Bold.otf');
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('BebasNeue Regular.otf');
}

body {
    margin: 0;
    color: white;
    background-color: #0D5080;
    position: relative;
}

.particles-js-canvas-el {
    z-index: -1;
    position: absolute;
    top: 0;
}

h1 {
    font-family: BebasNeueBold, georgia, serif;
    text-align: center;
    font-size: 3.6vw;
    letter-spacing: 0.18vw;
}

p {
    font-family: BebasNeueRegular, georgia, serif;
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
    text-align: center;
}

p.call-to-action {
    margin-top: 2rem;
}

p.you-look-like {
    display: none;
    position: absolute;
    width: 36vw;
    top: 35.5vw;
    left: -22vw;
}

p.celebrity-name {
    display: none;
    position: absolute;
    width: 36vw;
    top: 35.5vw;
    left: 22vw;
}

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 36vw;
    height: 36vw;
}

.snapshot {
    z-index: 2;
}

.webcam {
    z-index: 1;
    transform: rotateY(180deg);
}

.look-alike {
    z-index: 1;
}

.webcam, .snapshot, .look-alike {
    width: 36vw;
    height: 36vw;
    object-fit: cover;
    position: absolute;
}

.snapshot.active {
    animation: snapshot-animation 2s;
    animation-fill-mode: forwards;
}

.look-alike.active {
    animation: look-alike-animation 2s;
    animation-fill-mode: forwards;
}

@keyframes snapshot-animation {
    0% {
        transform: rotate(0deg) rotateY(180deg);
        filter: brightness(500%);
        left: 0;
    }
    9% {
        filter: brightness(100%)
    }
    70% {
        transform: rotate(-6deg) rotateY(180deg);
        left: 0;
    }
    100% {
        transform: rotate(-360deg) rotateY(180deg);
        left: -22vw;
    }
}

@keyframes look-alike-animation {
    0% {
        transform: rotate(0deg);
        left: 0;
    }
    70% {
        transform: rotate(-6deg);
        left: 0;
    }
    100% {
        transform: rotate(360deg);
        left: 22vw;
    }
}
