html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: norwester;
    src: url(norwester.woff);
    font-weight:400;
}

body {
    font-family: norwester, georgia, serif;
}

.wrapper {
    position: relative;
    width: 40vw;
    height: 40vw;
}

.snapshot {
    z-index: 2;
}

.webcam {
    z-index: 1;
}

.webcam, .snapshot {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    position: absolute;
    transition: filter;
}

.snapshot.active {
    animation: snapshot-animation 5s;
    animation-fill-mode: forwards;
}

@keyframes snapshot-animation {
    0% {
        transform: rotate(0deg);
        filter: brightness(500%);
    }
    5% {
        filter: brightness(100%)
    }
    100% {
        transform: rotate(-6deg);
    }
}
